@import url('../../.cache/wal/colors-waybar.css');
@import url('../../.config/handpickedcolors.css');
@import url('../../.config/handpickedcolors2.css');
@import url('defaults.css');

/* WORKSPACE SETTINGS ====== */
#workspaces {
    background: alpha(@special11, .55);
}

#workspaces button,
#workspaces button.empty {
    all: unset;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    margin: 2px 2px;
    font-weight: 400;
}

#workspaces button.active,
#workspaces button.empty.active,
#workspaces button:hover,
#workspaces button.empty:hover {
    background-color: alpha(@special4, .69);
    color: @specialDark;
    font-weight: 700;
}

#workspaces button.empty {
    color: alpha(@special6, .40);
}


/* transition settings------ */
#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button.empty,
#workspaces button empty.active {

    transition: background-color .9s cubic-bezier(0.25, 1, 0.5, 1), color .7s cubic-bezier(0.25, 1, 0.5, 1), font-weight .3s cubic-bezier(0.25, 1, 0.5, 1);

}
/* ====== CLOCK SETTINGS ====== */
#clock {
    font-weight: 700;
    padding: 0px 7px;
}

/* ====== EXPAND BUTTON SETTINGS ====== */
#group-expand {
    transition: all .3s ease;
}

#custom-expand {
    background: transparent;
    color: alpha(@special6, 1);
    transition: all .3s ease;
}

#custom-endpoint {
    color: alpha(@specialLight, .6);
    background: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}

#custom-expand:hover {
    color: alpha(@specialLight, 1);
    text-shadow: 0 0 2px alpha(@color8, 1), 0 0 4px alpha(@color11, 1), 0 0 5px alpha(@color14, 1);

}

/* ====== TRAY SETTINGS ====== */
#tray {
    transition: all .3s ease;
    border-radius: 2px;
    border-style: double;
    border-width: .5px;
    border-color: alpha(@special1, .69);
}

#tray menu * {
    transition: all .3s ease;
}

#tray menu separator {
    transition: all .3s ease;
}

/* ====== HARDWARE MODULES====== */

#pulseaudio,
#microphone,
#microphone.muted,
#battery {
    padding: 0px 7px;
    margin: 2px 1px;

}

/* -----battery settings----- */
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



/* ====== NETWORKING MODULES ====== */


/* -----network settings----- */
#network {
    padding: 0px 7px;
    margin: 2px 2px;

}

/* -----bluetooth settings----- */
#bluetooth {
    padding: 0px 7px;
    margin: 2px 2px;
}


/* ====== NOTIFICATION SETTINGS ====== */
#custom-notification {
    margin: 0px 2px;
    padding: 0px 7px;
    border-radius: 2px;
    border-style: double;
    border-width: 1.5px;
    border-color: alpha(@special1, .69);
}

#custom-notification:hover {
    color: @color8;
    font-weight: 700;
}