@import url('../../.cache/wal/colors-waybar.css');
@import url('../../.config/handpickedcolors.css');
/* ============ DEFAULTS ============ */
*{
    font-size:10px;
    font-family: "BitstromWera Nerd Font";
}
window#waybar{
	background: alpha(@background,0.75);
}
/* -----default module settings------ */
.modules-left {
	margin: 2 0 2 0;
	padding-left: 0px;
}
.modules-center {
	margin: 2 2 2 2;

}
.modules-right {
    margin: 2 2 2 2;
    padding-right: 2px;
}

/* -----default background settings----- */
#workspaces, #audio, #networking, #clock, #custom-notification, #group-expand, #tray {
    background: alpha(@specialDark, .35);
    border-radius:3px;
}

/* ------ default padding ------ */
#audio, #networking, #clock, #workspaces, #group-expand, #custom-expand, #tray {
	padding: 2px;
}

/* -----default hover settings-----*/
#clock:hover, #pulseaudio:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #microphone:hover, #custom-expand:hover {
    transition: all .1s ease;
    color:@special9;
}

/* -----default tooltip settings-----*/
tooltip {
    background: alpha(@special3, .8); 
    border-radius: 8px;
    border-color: alpha(@specialDark,0.6);
}

/* ====== WORKSPACE SETTINGS ====== */
#workspaces {
    margin-left: 2px;
    background: alpha(@specialDark,.5);
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: @color14;
    transition: all .2s ease;
}
#workspaces button:hover {
    color: alpha(@special9,.9);
    border: none;
    transition: all 1s ease;
    text-shadow: 0px 0px 2px alpha(@specialLight, .2);
}
#workspaces button.active {
    color: @special9;
    border: none;
    text-shadow: 0px 0px 1px alpha(@specialLight,.6);
    font-weight: 600;
}
#workspaces button.empty {
    color: alpha(@special7,.8);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @color4;
    border: none;
    transition: all 1s ease;
    text-shadow: 0px 0px 2px alpha(@specialLight, .2);
}
#workspaces button.empty.active {
    color: @special9;
    border: none;
    text-shadow: 0px 0px 1px alpha(@specialLight,.5);
    font-weight: 600;
}

/* ====== CLOCK SETTINGS ====== */
#clock{
    color: alpha(@color14,.9);
    margin:0 0 0 0;
}

/* ====== EXPAND BUTTON SETTINGS ====== */
#group-expand{
    transition: all .3s ease; 
}
#custom-expand{
    color:alpha(@color10,.9);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}

/* ====== TRAY SETTINGS ====== */
#tray{
    transition: all .3s ease; 
}
#tray menu * {
    transition: all .3s ease; 
    padding: 0px 5px;
}

#tray menu separator {
    transition: all .3s ease; 
}

/* ====== AUDIO IN/OUT SETTINGS ====== */

/* -----audio group settings----- */
#audio {
    margin-right: 2px;

}
/* -----audio out settings----- */
#pulseaudio {	
	color: alpha(@color14,.7);
	padding: 0px 5px;
}

/* -----audio in settings----- */
#microphone.muted {
	color: alpha(@color14,.7);
	padding: 0px 5px;
}

/* ====== NETWORKING AND HARDWARE MODULES ====== */

/* -----networking group settings----- */
#networking {
    margin-right: 2px;
}

/* -----network settings----- */
#network {
    padding: 0px 5px;
    color: alpha(@color14,.7);

}

/* -----bluetooth settings----- */
#bluetooth {
    padding: 0px 5px;
    color: alpha(@color14,.7);
}

/* -----battery settings----- */
#battery {
	padding: 0px 5px;
	color: alpha(@color14,.7);
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* ====== NOTIFICATION SETTINGS ====== */
#custom-notification {
    padding-right: 10px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: alpha(@color14,1);
}
